
# Database URL for PostgreSQL
DATABASE_URL="YOUR DATABASE"

BETTER_AUTH_SECRET=SECRET BETTER AUTH YOUR
BETTER_AUTH_URL=http://localhost:3000

FIRECRAWL_API_KEY=YOUR API KEY FIRECRAWL

AI_KEY=YOURE AI KEY OPENROUTER